{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <h2>Warranty Sales Entry Form</h2>
  <p>Please enter the correct information below:</p>
  <br>

    <form method="POST">
      {{ form.hidden_tag() }}



      <br>

      {{ form.emp_id.label }}
      {{ form.emp_id() }}

      <br>

      {{ form.esp_id.label }}
      {{ form.esp_id() }}

      <br>

      {{ form.week.label }}
      {{ form.week() }}

      <br>

      {{ form.year.label }}
      {{ form.year() }}

      <br>

      {{ form.quant_sold.label }}
      {{ form.quant_sold() }}

      <br>

    
      

      {{ form.submit(class="btn btn-secondary") }}

    </form>



</div>




{% endblock %}
